= render 'shared/resources/header', title: t('.title'), policy: policy(@contest.jurors.build)

= render 'shared/resources/list_as_table', attributes: user_index_attributes(%i(fio location organization), Juror), collection: @jurors