= render 'shared/resources/header', title: t('.title'), policy: policy(@contest.photos.build)

= render 'shared/resources/list_as_table', attributes: %i(photo contest nomination), collection: @contest_photos
