= render 'shared/resources/header', title: @contest, path: { id: @contest }

p = @contest.description

= link_to t('nominations.index.title'), contest_nominations_path(@contest), class: 'btn btn-secondary mr-4'
= link_to t('criteria.index.title'), contest_criteria_path(@contest), class: 'btn btn-secondary mr-4'
= link_to t('jurors.index.title'), contest_jurors_path(@contest), class: 'btn btn-secondary mr-4'
