= render 'shared/resources/header', title: t('.title'), policy: policy(@contest.compositions.build)

= render 'shared/resources/list_as_table', attributes: %i(competitor photo nomination), collection: @compositions
