= render 'shared/resources/header', title: t('.title'), policy: policy(<%= class_name %>)

= render 'shared/resources/list_as_table', attributes: %i(<%= attributes.map(&:name).join(' ') %>), collection: @<%= plural_table_name %>
