= render 'shared/resources/header', title: t('.title'), policy: policy(policy_scope(Competitor).build)

= render 'shared/resources/list_as_table', attributes: %i(fio1 fio2 fio3 dob), collection: @competitors
