= render 'shared/resources/header', title: t('.title'), policy: policy(@contest.competitors.build)

= render 'shared/resources/list_as_table', attributes: %i(fio1 fio2 fio3 dob), collection: @competitors
